body{
    background-color: #000;
}
.main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 22vw -18vh 3px 1px white, -36vw 44vh 1px 0px white, -30vw 35vh 2px 2px white,-17vw 44vh 0px 0px white,-2vw -24vh 1px 2px white,-3vw -7vh 2px 0px white,22vw -41vh 3px 0px white,37vw -11vh 2px 1px white,44vw -43vh 2px 0px white,25vw -42vh 1px 0px white,-49vw -44vh 1px 2px white,47vw -2vh 2px 1px white,-30vw -25vh 3px 3px white,30vw -33vh 2px 2px white,-41vw -29vh 0px 0px white,14vw 6vh 0px 3px white,14vw -9vh 2px 3px white,33vw -26vh 2px 0px white,18vw 38vh 0px 0px white,-36vw 30vh 3px 1px white,1vw 33vh 2px 2px white,37vw -2vh 1px 1px white,-10vw 14vh 2px 2px white,13vw -15vh 3px 3px white,-6vw 0vh 3px 0px white,2vw 21vh 3px 1px white,-40vw -9vh 1px 1px white,8vw -33vh 3px 0px white,-46vw 30vh 2px 0px white,40vw 47vh 0px 0px white,8vw -11vh 3px 0px white,-19vw -42vh 1px 2px white,-12vw -27vh 3px 0px white,8vw 35vh 1px 2px white,29vw 39vh 0px 1px white,7vw 27vh 2px 0px white,-3vw -35vh 1px 3px white,17vw -3vh 3px 0px white,42vw 30vh 1px 1px white,14vw -26vh 2px 3px white,39vw 14vh 2px 2px white,41vw -26vh 0px 3px white,49vw -50vh 0px 2px white,5vw 31vh 2px 2px white,-17vw 20vh 1px 2px white,11vw -39vh 3px 1px white,15vw -25vh 1px 0px white,-30vw 47vh 1px 0px white,-34vw -3vh 2px 3px white,-45vw -37vh 0px 1px white,-6vw -37vh 2px 2px white,-3vw 43vh 2px 3px white,28vw 31vh 2px 1px white,-20vw -44vh 2px 0px white,25vw -10vh 0px 3px white,-28vw -8vh 2px 2px white,12vw -25vh 3px 1px white,31vw 32vh 1px 2px white,30vw -31vh 0px 0px white,-37vw 15vh 0px 1px white,22vw -15vh 2px 3px white,18vw -7vh 2px 0px white,44vw 14vh 1px 0px white,4vw -33vh 1px 0px white,-33vw 47vh 0px 3px white,-43vw -16vh 3px 1px white,7vw 15vh 3px 2px white,-37vw -21vh 2px 3px white,-44vw -3vh 0px 1px white,-8vw 29vh 0px 2px white,-31vw -2vh 0px 0px white,-29vw -25vh 0px 2px white,24vw 40vh 2px 0px white,-46vw -34vh 2px 2px white,-24vw -5vh 2px 1px white,-7vw 0vh 1px 0px white,-18vw -14vh 0px 1px white,-21vw -10vh 2px 3px white,5vw -42vh 2px 3px white,27vw 32vh 2px 0px white,21vw -37vh 3px 3px white,8vw 0vh 0px 3px white,-48vw -38vh 3px 3px white,38vw 32vh 1px 3px white,-31vw 43vh 2px 3px white,11vw -3vh 3px 0px white,-25vw 13vh 2px 3px white,-50vw -25vh 2px 0px white,-30vw -4vh 0px 2px white,-26vw 2vh 3px 2px white,24vw -41vh 1px 0px white,-43vw -10vh 1px 3px white,-17vw -2vh 2px 2px white,7vw 29vh 1px 3px white,-46vw -39vh 1px 2px white,-21vw 24vh 2px 3px white,-39vw 39vh 0px 3px white, -33vw 20vh 0px 2px white, -33vw -26vh 1px 2px white;
    animation: zoom 10s alternate infinite;
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
.choose{
    text-align: center;
    padding-top: 150px;
}
.choose input, .choose select{
    background: transparent;
    color: lightblue;
    border: 1px solid lightblue;
}
.choose input[type="number"]{
    width: 200px;
    height: 40px;
}
.choose input[type="button"], .choose select{
    width: 200px;
    height: 44px;
}
.title{
    color: lightblue;
    font-style: italic;
    padding-bottom: 30px;
}
.title-question{
    color: lightblue;
    padding-bottom: 20px;
}
#btn{
    cursor: pointer;
}
.text{
    color: lightblue;
    text-align: center;
    padding-top: 30px;
    font-size: 1.2em;
    letter-spacing: 1.6px;
}
.loader{
    position: fixed;
    top: 50%;
    left: 46%;
    font-size: 2em;
    font-variant: small-caps;
    background: conic-gradient(rgb(133, 226, 226) 0 25%, #ff90f4 25% 50%, #f39f72 50% 75%, #ffde2b 75%);
    background-size: 200% 200%;
    animation: animate 4.3s ease-in-out infinite;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
@keyframes animate{
    25% {
background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}